@import '../themes/about';

$accordion-margin: 3vh;
$hard-coded-vcenter-margin: 4.85vh;

.about-page-accordion-wrapper {
  margin: $hard-coded-vcenter-margin 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: fit-content;

  .accordion {
    margin: 0;
    margin-top: $accordion-margin;
  }

  .accordion:last-of-type {
    margin-bottom: $accordion-margin;
  }
}
