@import '../../design/breakpoints';
@import '../themes/homepages';

$unfocused-card-title-bg-color: rgba(0, 0, 0, 0.3);
$focused-or-hovered-card-title-bg-color: rgba(0, 0, 0, 0.6);

@include responsive(base) {
  .housing-sheets-grid-gallery {
    max-width: max(1920px, 60vw);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: max(60px, 3vw);
    padding: max(50px, 4vw);
    border-radius: max(25px, 1vw);
    margin-top: max(2vw, 30px);
    margin-bottom: max(2vw, 30px);

    .housing-sheets-grid-gallery-item {
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: max(12.5px, 0.5vw);

      .housing-sheets-grid-gallery-item-title-wrapper {
        display: flex;
        position: absolute;
        width: 100%;
        height: fit-content;
        left: 0;
        bottom: 0;
        padding-top: 2.5%;
        transition: background-color 0.5s ease-in-out;
      }

      .housing-sheets-grid-gallery-item-title {
        display: flex;
        z-index: 2;
        text-align: left;
        width: 65%;
        margin-left: max(15px, 1vw);
        margin-bottom: max(13px, 0.75vw);
        font-size: max(18px, 1.25vw);
        text-shadow: 1px 1px 2px black, 0 0 1em rgba(0, 0, 0, 0.5), 0 0 0.2em rgba(0, 0, 0, 0.25);
      }
    }

    .housing-sheets-grid-gallery-item::before {
      content: '';
      width: 0;
      padding-bottom: 100%;
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }

    .housing-sheets-grid-gallery-item::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.01) 100%);
    }
  }

  .kasa-card .housing-sheets-grid-gallery-item-title-wrapper {
    background-color: $unfocused-card-title-bg-color;
  }

  .kasa-card:focus-within .housing-sheets-grid-gallery-item-title-wrapper {
    background-color: $focused-or-hovered-card-title-bg-color;
  }
}

@media (max-width: 1350px) {
  .housing-sheets-grid-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    gap: max(22px, 3vw);

    .housing-sheets-grid-gallery-item::before {
      padding-bottom: 46.12%;
    }
  }
}

@media (max-width: 850px) {
  .housing-sheets-grid-gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    .housing-sheets-grid-gallery-item {
      .housing-sheets-grid-gallery-item-title {
        font-size: max(20px, 4vw);
        min-width: 102px;
      }
    }

    .housing-sheets-grid-gallery-item::before {
      padding-bottom: 66.12%;
    }
  }
}

@media (hover: hover) {
  .housing-sheets-grid-gallery-item:hover {
    .housing-sheets-grid-gallery-item-title-wrapper {
      background-color: $focused-or-hovered-card-title-bg-color;
    }
  }
}
