@import '../../design/colors';
@import '../../design/themes';

@include themes(base) {
  .accordion-item-container {
    color: $body-font-color;
  }

  .accordion-item-btn {
    background-color: $body-font-color;
    color: $body-bg-color;
  }
}

@include themes(light) {
  .accordion-item-container {
    background-color: $housing-sheets-grid-bg-color;
  }
}

@include themes(dark) {
  .accordion-item-container {
    background-color: $dark-accordion-content-bg-color;
  }
}
