@import '../../design/bannerBase';
@import '../../design/breakpoints';

.homepage.banner-wrapper .banner-background {
  position: relative;
  background: url('/img/banners/homepage.webp') no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  background-position: 0 90px;
  background-size: 100vw;
}

@include responsive(mobiles, $responsive-banner-width-offset) {
  .homepage.banner-wrapper .banner-background {
    background-size: cover;
    background-position: 50% min(12vw, 60px);
    background-attachment: scroll;
  }
}
