@import '../../design/navbarSharedVariables';
@import '../../design/colors';
@import '../../design/breakpoints';

@include responsive(base) {
  .housing-sheets-carousel {
    margin-top: $navbar-h-unscrolled-page-initial-offset;
  }

  .housing-sheet-title,
  .housing-sheet-location-title {
    font-weight: 500;
  }

  .housing-sheet-title {
    margin: 0;
  }

  .housing-sheet-location-title {
    font-size: 1.25em;
    line-height: 205%;
  }

  .tags-items-list-wrapper {
    width: fit-content;
  }

  .equipment-items-list-container,
  .tags-items-list-container {
    list-style: none;
  }

  .tags-items-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }

  .tags-items-list-container {
    .tags-item-span {
      color: $body-bg-color;
      background-color: $body-font-color;
      user-select: none;
      min-width: 165px;
      text-align: center;
      font-weight: 500;
      padding: 0.3em 20px;
      padding-top: 0.4em;
      border-radius: max(10px, 0.3vw);
    }

    .tags-item {
      margin: 15px 5px;
    }
  }

  .housing-sheet-host-and-rate-group {
    position: relative;
    top: -1.6em;
    .housing-sheet-rating {
      display: flex;
      justify-content: flex-end;
    }

    .housing-sheet-host-wrapper {
      height: 94px;

      .housing-sheet-host-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .housing-sheet-host-picture {
          max-height: 100%;
          border-radius: 100%;
          transform: scale(0.8);
        }

        .housing-sheet-host-name {
          max-width: 93px;
          font-weight: 500;
          font-size: 1.15em;
          text-align: right;
          line-height: 150%;
        }
      }
    }
  }

  .housing-sheet-accordions {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: max(76px, 4vw);
  }

  .housing-sheet-introduction {
    margin-top: 2.2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@include responsive(tablets) {
  .housing-sheet-accordions {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .housing-sheet-introduction {
    grid-template-columns: 1fr;
  }

  .housing-sheet-host-and-rate-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    top: 0;

    .housing-sheet-host-wrapper {
      order: 2;
    }

    .housing-sheet-rating {
      order: 1;
      justify-content: flex-start;

      img {
        width: 7vw;
        max-width: 30px;
        height: auto;
      }
    }
  }
}

@media (max-width: 320px) {
  .tags-items-list-container {
    justify-content: center;
  }

  .housing-sheet-host-and-rate-group {
    grid-template-columns: 1fr;

    .housing-sheet-host-wrapper {
      order: 1;

      .housing-sheet-host-container {
        justify-content: center;

        .housing-sheet-host-name {
          order: 2;
          text-align: left;
        }

        .housing-sheet-host-picture {
          order: 1;
        }
      }
    }

    .housing-sheet-rating {
      order: 2;
      justify-content: center;

      img {
        width: 30px;
      }
    }
  }
}
