$body-bg-color: #fff;
$body-font-color: #ff6060;
$housing-sheets-grid-bg-color: #f6f6f6;
$housing-sheets-grid-item-bg-color: #b6b6b6;
$housing-sheets-grid-item-font-color: $body-bg-color;
$footer-bg-color: #000;

$error-box-bg-color: #ab2626;

$dark-body-bg-color: #181a1b;
$dark-body-font-color: $body-bg-color;
$dark-housing-sheets-grid-bg-color: #1d2021;

$dark-accordion-content-bg-color: #1d2021;
